<h1>Davide ti vedo!!!</h1>

<div class="wrap">
    <% data['Search'].map(movie => { %>
        <li><%= movie['Title'] %> - <%= movie['Year'] %></li>
    <% }) %>
    <div>
        <a href="/">Back to the Search Page</a>
    </div>
</div>



