<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Search</title>
    <link rel="stylesheet" href="../public/css/results.css">
</head>
<body>
    <div class="wrap">
            <h1>Search Page</h1>

            <form action="/results" method="GET">
                <input type="text" placeholder="search a movie" name="movie_f">
                <input type="submit">
            </form>
    </div>
   

</body>
</html>







